.container-dashboard {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
}

.container-dashboard .content-dashboard {
    width: var(--porcent-width);
    max-width: var(--max-width);
    height: auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
    position: relative;
}

/* Points */
.container-dashboard .content-dashboard .points {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 10px;
    background: var(--white);
    border: 2px solid var(--gray);
    color: var(--black);
    z-index: 9999;
}

.container-dashboard .content-dashboard .points h1 {
    font-size: 20px;
    font-weight: 500;
}

/* Forms */
.container-dashboard .content-dashboard .form {
    width: 100%;
    max-width: 650px;
    height: auto;
    border-radius: 10px;
    background: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-bottom: 8px solid var(--green-light);
}

.container-dashboard .content-dashboard .form img {
    width: 100px;
    height: auto;
    margin: 0px auto 25px auto;
}

.container-dashboard .content-dashboard .form h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}

.container-dashboard .content-dashboard .form h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px 00px 0px;
} .container-dashboard .content-dashboard .form h2 strong {
    font-weight: 600;
    color: var(--green);
}

.container-dashboard .content-dashboard .form h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px 0px 0px;
} .container-dashboard .content-dashboard .form h3 a {
    font-weight: 600;
    color: var(--blue);
    transition: all .1s ease-in-out;
} .container-dashboard .content-dashboard .form h3 a:hover,
.container-dashboard .content-dashboard .form h3 a:focus {
    text-decoration: underline;
}

.container-dashboard .content-dashboard .form p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: var(--gray-black);
    margin: 0px;
}

.container-dashboard .content-dashboard .form .input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    position: relative;
}

.container-dashboard .content-dashboard .form .input label {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 6px 0px;
}

.container-dashboard .content-dashboard .form .input input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background: transparent;
    background: var(--background);
    border: 2px solid var(--gray);
    color: var(--black);
    padding: 12.5px;
}

.container-dashboard .content-dashboard .form .input button {
    width: max-content;
    height: 45px;
    border-radius: 0px 8px 8px 0px;
    padding: 0px 15px;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    background: var(--blue);
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: var(--white);
    cursor: pointer;
    transition: all .15s ease-in;
} .container-dashboard .content-dashboard .form .input button:hover,
.container-dashboard .content-dashboard .form .input button:focus {
    background: var(--blue-light);
} .container-dashboard .content-dashboard .form .input button.green {
    cursor: not-allowed;
    background: var(--green);
}

.container-dashboard .content-dashboard .form button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    background: var(--green);
    color: var(--white);
    cursor: pointer;
    transition: all .15s ease-in;
} .container-dashboard .content-dashboard .form button:hover,
.container-dashboard .content-dashboard .form button:focus {
    background: var(--green-light);
}